<h2><%= @repo.title %></h2>
<% @repo.tree.each do |f| %>
  <% if f[:type] == :tree %>
    <li><a href='/<%= @repo.title %>/tree/master/<%= f[:name] %>'><%= f[:name] %>/ <small><%= f[:oid][0,7] %></small></a></li>
  <% else %>
    <li><a href='/<%= @repo.title %>/blob/master/<%= f[:name] %>'><%= f[:name] %> <small><%= f[:oid][0,7] %></small></a></li>
  <% end %>
<% end %>
